<div class="container">
  <div class="row my-3">
    <div class="col-lg-6">
      <img *ngIf="postData.imageId != null" [src]="'assets/images/image'+postData.imageId+'.jpg'" width="500px" height="300px" style="border-radius: 30px 0px 0px 30px;">
    </div>
    <div class="col-lg-6">
      <h2 style="text-align: center;">{{postData.title}}</h2>
      <p>{{postData.body}}</p>
    </div>
  </div>
  <div *ngFor="let comment of blogComments" class="blogComments mt-3">
    <img  [src]="'assets/images/profile/profile'+comment.userId+'.jpg'" width="50px" height="50px" style="border-radius: 50%; margin-left: 10px;">
    <div style="margin-left: 20px;">
      <h3><b>{{comment.name}}</b></h3>
      <p>{{comment.body}}</p>
    </div>
  </div>
</div>

